<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Online Shop</title>
</head>
<body>
    <header>
        <h1>Welcome to Our Online Shop</h1>
    </header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'registration' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'cart' %}">Cart</a>
    </nav>
    <main>
        <h2>Discover Our Exclusive Collection</h2>
        <div class="info">
            <p>Welcome to our online shop where you can find a wide range of products to suit your needs. Register to start shopping, or log in if you already have an account. Check your cart to see items you've added and proceed to checkout. We're committed to providing the best shopping experience.</p>
        </div>
        <div class="buttons">
            <a href="{% url 'registration' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'cart' %}">Cart</a>
        </div>
    </main>
    <footer>
        <p>&copy; Tavhid Online Shop Rahimi 11.</p>
    </footer>
</body>
</html>
